

/* Base Page */

@import url("./assets-base/base-page.css");
@import url("./assets-base/draggableUI.css");

/* Applications */

@import url("./assets-win/console.css");

/* Assets Libraries */

@import url("./assets-base/base-page.css");
@import url("./lib-css/fontawesome-all.min.css");


/*
|*************************************************************************;
* Page Properties 
|*************************************************************************;
*/

body {
    background-color: #333;
    overflow: hidden;
}


/* Remove Body Scroll */

::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space */
    background: transparent;
    /* optional: just make scrollbar invisible */
}

@-moz-document url-prefix() {
    html,
    body {
        overflow: hidden !important;
    }
}


/* Remove Body Text Highlight */

::selection {
    color: none;
    background: none;
}


/* For Mozilla Firefox */

::-moz-selection {
    color: none;
    background: none;
}












/* Base Page */

/*
|*************************************************************************;
* Copyright 2019, Timothy Howard, All rights reserved.
* ScriptName    : BasePage Styles
* ScriptPath    : /css/assets-base/base-page.css
|*************************************************************************;
*/

html.js,
.js body {
    overflow: hidden;
    height: 100vh;
    font-size: 13px!important;
    background: #284b63;
}
/* Resets */

*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    font-family: var(--main-font);
    margin: 0;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: #ffffff;
    outline: none;
}
