/* 
|*************************************************************************;
* Copyright 2019, Timothy Howard, All rights reserved.
* ScriptName    : Global Root for CSS 
* ScriptPath    : /css/root.css
|*************************************************************************;
*/


/*
|*************************************************************************;
* Stylesheets Imports
|*************************************************************************;
*/


/* Base Page */

@import url("./assets-base/base-page.css");
@import url("./assets-base/draggableUI.css");

/* Applications */
@import url("./assets-win/console.css");

/* Assets Libraries */

@import url("./assets-base/base-page.css");


@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

/*
|*************************************************************************;
* Stylesheets Global Var
|*************************************************************************;
*/

:root {
    /* Fonts */
    --main-font: 'Macondo', cursive;
    /* Color */
    /* Base Properties */
    /* Cursor Setting */
    --main-cursor-default: default;
    --main-cursor-grab: grab;
    --main-cursor-grabbing: grabbing;
    --main-cursor-pointer: pointer;
    --main-cursor-text: text;
    /*
|*************************************************************************;
* SVG Properties
|*************************************************************************;
*/

    /* Default Box Shadow */
    --webkit-boxshadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    --moz-boxshadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    --box-boxshadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}


/*
|*************************************************************************;
* Page Properties 
|*************************************************************************;
*/


/* Remove Body Scroll */

::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space */
    background: transparent;
    /* optional: just make scrollbar invisible */
}

@-moz-document url-prefix() {
    html,
    body {
        overflow: hidden !important;
    }
}


/* Remove Body Text Highlight */

::selection {
    color: none;
    background: none;
}


/* For Mozilla Firefox */

::-moz-selection {
    color: none;
    background: none;
}


/*
|*************************************************************************;
* Animation / Keyframes
|*************************************************************************;
*/


/* Animation -Float */

@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }
    50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
        transform: translatey(-5px);
    }
    100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }
}

iframe {
    margin: auto;
    display: block;
    width: 100%;
    height: 79.2vh;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .win-prop {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: #DCCAB7;
    }
    .warning {
        display: none;
    }
}


/**
 * ----------------------------------------
 * animation scale-down-bl
 * ----------------------------------------
 */
 @-webkit-keyframes scale-down-bl {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
    }
    100% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
    }
  }
  @keyframes scale-down-bl {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
    }
    100% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
    }
  }




  #context-menu {
    background-color: #ffffff;
    color: #1f194c;
    width: 10em;
    padding: 0.8em 0.6em;
    font-size: 1.3rem;
    position: fixed;
    visibility: hidden;
    }
    .item {
    padding: 0.3em 1.2em;
    }
    .item:hover {
    background-color: rgba(44, 141, 247, 0.2);
    cursor: pointer;
    }






      /* CSS styles go here */
  .navbar {
    background-color: rgb(158, 0, 158);
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
  }

  .taskbtn {
    background-color: transparent;
    border: none;
  }

  .taskbtn img {
    width: 30px;
    height: 30px;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 0.5rem;
  }

  .nav-menu-title {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  .nav-menu-title .icon-img {
    width: 30px;
    height: 30px;
  }