/*
|*************************************************************************;
* Copyright 2019, Timothy Howard, All rights reserved.
* ScriptName    : CoreCLI Console
* ScriptPath    : /css/assets-win/console.css
|*************************************************************************;
*/

#terminal {
    overflow-x: hidden;
    height: -webkit-fill-available;
}
#terminal::-webkit-scrollbar {
    width: 7px;
}

#terminal::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.425);
}

#terminal::-webkit-scrollbar-track {
    background-color: transparent;
}

#terminal .conlabel::before {
    content: ">";
    display: inline-block;
    position: relative;
    width: 1rem;
    height: 1em;
}

#cli {
    text-transform: lowercase;
    position: relative;
    white-space: pre-wrap;
    cursor: var(--main-cursor-text);
}

#cli span.cursor {
    background-color: rgba(255, 255, 255, 0.425);
    animation: blinker 1s linear infinite;
}


@keyframes blinker {
    0% {
        background-color: rgba(255, 255, 255, 0.425);
    }
    49% {
        background-color: rgba(255, 255, 255, 0.425);
    }
    60% {
        background-color: transparent;
    }
    99% {
        background-color: transparent;
    }
    100% {
        background-color: rgba(255, 255, 255, 0.425);
    }
}