/*
|*************************************************************************;
* Copyright 2019, Timothy Howard, All rights reserved.
* ScriptName    : BasePage Styles
* ScriptPath    : /css/assets-base/base-page.css
|*************************************************************************;
*/

html.js,
.js body {
  overflow: hidden;
  height: 100vh;
}

/* Pages stack */
.js .page {
  position: relative;
  overflow: hidden;
  z-index: 5;
  width: 100%;
  height: 97vh;
  pointer-events: auto;
}

/* Resets */
*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
  margin: 0;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Vector Backgrounds 
#layers-outer {
  background-image: var(--svg-background-tri);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0.5;
  transform: rotate(180deg);
}
#layers-inner {
  background-image: var(--svg-background-tri);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0.5;
}*/
#layer-stars {
  -webkit-backface-visibility: hidden;
  background-image: var(--svg-background-tv);
  background-color: var(--asset-color-5);
  background-repeat: repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
  -moz-transform: var(--prop-scale-moz);
  -webkit-transform: var(--prop-scale-webkit);
  -ms-transform: var(--prop-scale-ms);
  transform: var(--prop-scale-norm);
}
#layer-stars:after {
  background: linear-gradient(180deg, rgba(70,130,180,0.8) 0%, rgba(35,65,90,0.8) 100%);
  z-index: -2;
}
#layer-stars:before,
#layer-stars:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: #ffffff;
  outline: none;
}

a:hover {
}

/* Loader Wrapper */
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-color: #33333300;
}

#loader {
  z-index: var(--main-zindex-0);
  background-color: #33333300;
  display: block;
  position: relative;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  animation: fade-in 5s infinite;
}
@keyframes fade-in {
  0% {
    background-color: #333333;
  }
  60% {
    background-color: #333333;
  }

  100% {
    background-color: #33333300;
  }
}
#loader-wrapper .loader-section {
  z-index: var(--main-zindex-1);
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.loaded #loader-wrapper {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  visibility: hidden;
}

.loaded #loader {
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.no-js #loader-wrapper {
  display: none;
}
/* BootRedo */
.btn {
  border-radius: var(--border-radius-none);

  padding: 0.2rem 0.75rem;
}
.dropdown-menu {
  margin: -0.1rem 0 0;
  border-radius: 0px 0px 10px 10px;
  background-color: #0f0f0fa1;
  padding: 0rem 0;
  border-left: 1px solid rgba(0, 0, 0, 0.425);
  border-bottom: 1px solid rgba(0, 0, 0, 0.425);
}
.dropdown-item {
  color: rgb(255, 255, 255);
  text-align: right;
}
.dropdown-item:hover {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  display: inline;
}
.close {
  text-shadow: 0 0px 0 rgba(255, 255, 255, 0);
}
.btn-secondary:focus {
  color: #0f0f0f;
  background-color: #ffffff;
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0);
  border-color: transparent;
}
.show > .btn-secondary.btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(6, 83, 151, 0);
}
.btn-secondary {
  color: #0f0f0f;
  background-color: #ffffff;
  border-color: #6c757d00;
}
.btn-secondary:hover,
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
  color: #0f0f0f;
  background-color: #ffffff;
  border-color: #6c757d00;
}
body > div.body-sub > nav > a > img {
  margin-top: -4px;
}
.icon-main {
  margin-left: 5px;
  height: 30px;
  width: 30px;
}
/* Window Settings */
.navbar {
  background: #1f1f1f;
  -webkit-box-shadow: var(--webkit-boxshadow);
  -moz-box-shadow: var(--moz-boxshadow);
  box-shadow: var(--box-boxshadow);
  height: 2em;
  color: rgb(255, 255, 255);
  padding: 0rem 0rem;
  border-radius: var(--border-radius-none);
}
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0);
}
.navbar-brand {
  font-family: var(--main-font);
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.title {
  font-family: var(--main-font);
  background: rgb(15, 15, 15);
  color: rgb(255, 255, 255);
  padding: 5px;
  height: 26px;
  width: 100%;
  border-width: 2px 2px 0 2px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
.sub-title {
  font-family: var(--main-font-display);
  background: rgb(15, 15, 15);
  color: rgb(255, 255, 255);
  border-radius: 0px 0px 20px 0px;
  padding: 5px 10px 5px 5px;
  height: 26px;
  width: 100%;
  border-width: 2px 2px 0 2px;
  text-align: left;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
.sub-title a {
  margin-left: 25px;
}
.title a {
  margin-left: 25px;
}

.favicon {
  background: url(../img/fav/favicon-16x16.png) no-repeat;

  height: 20px;
  float: left;
  text-align: left;
}

.icon {
  top: 2px;
  float: right;
  color: #ffffff;
  font-weight: 700;
  cursor: grab;
  text-shadow: 0.5px 1px 0 black;
}

/* RightClickMenu */
#context-menu {
  border: 1px solid rgba(255, 255, 255, 0.31);
  -webkit-box-shadow: var(--webkit-boxshadow);
  -moz-box-shadow: var(--moz-boxshadow);
  box-shadow: var(--box-boxshadow);
}
#context-menu .dropdown-item {
  text-align: center;
  color: #ffffff;
}
#context-menu .dropdown-item:hover {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  display: inline;
}

.dropdown-item:focus, .dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0);
}
.clock {
  cursor: var(--main-cursor-default);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #ffffff;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 7px;
}

.context-sep,
.dropDownMenu2 {
  border-top: 1px solid rgba(255, 255, 255, 0.31);
}
.app-list {
  height: 100%;
}
.txt-center {
  text-align: center;
}

button:focus {
  outline: 0px auto -webkit-focus-ring-color;
}

/* Floating BTN */
.label-container {
  position: fixed;
  bottom: 40px;
  right: 105px;
  display: table;
  visibility: hidden;
}
.label-text {
  color: #fff;
  background: rgba(51, 51, 51, 0.5);
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
  border-radius: 3px;
}
.label-arrow {
  display: table-cell;
  vertical-align: middle;
  color: #333;
  opacity: 0.5;
}
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-image: var(--png-background-profile);
  background-repeat: no-repeat;
  background-size: contain;
  color: #fff;
  text-align: center;
}
.my-float {
  font-size: 24px;
  margin-top: 18px;
}
a.float + div.label-container {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}
a.float:hover + div.label-container {
  visibility: visible;
  opacity: 1;
}



/* Github Window */
#draggable-JS-GITHUB > #sub-folder-0 > .table-responsive {
  overflow: auto;
  height: 100%;
}
.table-info, .table-info>td, .table-info>th {
  background-color: #ffffff00;
}
.table-info tbody+tbody, .table-info td, .table-info th, .table-info thead th {
  border-color: #ffffff;
}
#box {
  width: 500px;
  height: 200px;
  border: 2px solid rgb(245, 220, 225);
  padding: 4px 6px;
  font: 16px "Lucida Grande", "Helvetica", "Arial", "sans-serif"
}

.list-group-item:first-child {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}

.badge {
  font-size: 100%;
}
.badge-primary {
  color: #000;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.icon-main-02 {
  margin-left: 5px;
  height: 100px;
  width: 100px;
}
#chartdiv {
  width: 100%;
  max-width: 100%;
  height: 100%;
}


/* Animation Flickr 
.mask-rotate {
  position: relative;
  width: 100%;
  height: 100%;

  animation: tv .05s linear infinite;
  -webkit-animation: tv .05s linear infinite;
}
.mask {

  animation: mask .1s infinite;
  -webkit-animation: mask .1s infinite;
}

@keyframes screen {
  100% {
    background-position: 741px 0;
  }
}
@keyframes mask {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.8;
  }
}
@keyframes tv {
  from {
    transform: rotate(-1deg);
  }
  to {
    transform: rotate(1deg);
  }
}
@keyframes switchVu {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes switchCh {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}*/



@keyframes fade-in {
  0% {
    background-color: #333333;
  }
  60% {
    background-color: #333333;
  }

  100% {
    background-color: #33333300;
  }
}




.light {
  /*
  background: -webkit-radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.089));
  background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.096));
  */
  animation: light .1s infinite;
  -webkit-animation: light .1s infinite;
}

@keyframes light {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.8;
  }
}

/* Screen Line Animation */

.scan-lines {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0; 
  right: 0;
  overflow: hidden;
  z-index: 69;
  pointer-events: none;
}
.scan-lines:before {
  display: block;
  content: "";
  height: 100%;
  width: 100%;
  pointer-events: none;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #444), color-stop(50%, #111));
  background: -webkit-linear-gradient(#444 50%, #111 50%);
  background: -o-linear-gradient(#444 50%, #111 50%);
  background: linear-gradient(#444 50%, #111 50%);
  background-size: 100% 4px;
  background-repeat: repeat-y;
  opacity: 0.14;
  -webkit-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.8);
}
.scan-lines > div {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  pointer-events: none;
}
@media (max-width: 767px) {
  .scan-lines > div {
      display: none;
  }
}
.scan-lines > div:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1.2rem;
  background: #000000;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 255, 255, 0)), color-stop(50%, #6fc38e), color-stop(51%, rgba(0, 0, 0, 0.98)), to(rgba(0, 255, 255, 0)));
  background: -webkit-linear-gradient(top, rgba(0, 255, 255, 0) 0%, #6fc38e 50%, rgba(0, 0, 0, 0.98) 51%, rgba(0, 255, 255, 0) 100%);
  background: -o-linear-gradient(top, rgba(0, 255, 255, 0) 0%, #6fc38e 50%, rgba(0, 0, 0, 0.98) 51%, rgba(0, 255, 255, 0) 100%);
  background: linear-gradient(to bottom, rgba(0, 255, 255, 0) 0%, #6fc38e 50%, rgba(0, 0, 0, 0.98) 51%, rgba(0, 255, 255, 0) 100%);
  opacity: 0.04;
  -webkit-animation: vline 6.25s linear infinite;
  animation: vline 6.25s linear infinite;
}
@-webkit-keyframes pulse {
  0% {
      -webkit-transform: scale(1.001);
      transform: scale(1.001);
      opacity: 0.14;
  }
  8% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 0.13;
  }
  15% {
      -webkit-transform: scale(1.004);
      transform: scale(1.004);
      opacity: 0.14;
  }
  30% {
      -webkit-transform: scale(1.002);
      transform: scale(1.002);
      opacity: 0.11;
  }
  to {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 0.14;
  }
}
@keyframes pulse {
  0% {
      -webkit-transform: scale(1.001);
      transform: scale(1.001);
      opacity: 0.14;
  }
  8% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 0.13;
  }
  15% {
      -webkit-transform: scale(1.004);
      transform: scale(1.004);
      opacity: 0.14;
  }
  30% {
      -webkit-transform: scale(1.002);
      transform: scale(1.002);
      opacity: 0.11;
  }
  to {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 0.14;
  }
}
@-webkit-keyframes vline {
  0% {
      top: 0;
  }
  to {
      top: 100%;
  }
}
@keyframes vline {
  0% {
      top: 0;
  }
  to {
      top: 100%;
  }
}

/* Screen Dot Animation */

@keyframes screen-turn-on {
  0% {
      width: 0%;
      height: 1px;
      border-radius: 0px;
      background-color: #b0b0b0;
  }
  50% {
      width: 100%;
      height: 1px;
      border-radius: 0px;
      background-color: #b0b0b0;
  }
  51% {
      width: 100%;
      height: 1px;
      border-radius: 0px;
      background-color: #b0b0b0;
  }
  70% {
      width: 100%;
      height: 1px;
      border-radius: 0px;
      background-color: #b0b0b0;
  }
  80% {
      width: 100%;
      height: calc(100vh - 0px);
      border-radius: 5px;
      background-color: #b0b0b0;
  }
  100% {
      width: 100%;
      height: calc(100vh - 0px);
      border-radius: 5px;
      background-color: #454545;
  }
}
@keyframes shiver {
  0%   {  transform: translate(1px, 1px); text-shadow: 6px 0 rgba(255,0,0,0.9), -6px 0 rgba(0,0,255,0.9);  }
  5%   {  transform: translate(1px, 1px); text-shadow: 3px 0 rgba(255,0,0,0.9), -3px 0 rgba(0,0,255,0.9);  }
  10%  {  transform: translate(1px, 1px); text-shadow: 5px 0 rgba(255,0,0,0.9), -5px 0 rgba(0,0,255,0.9);  }
  15%  {  transform: translate(1px, 1px); text-shadow: 7px 0 rgba(255,0,0,0.9), -7px 0 rgba(0,0,255,0.9);  }
  20%  {  transform: translate(1px, 2px); text-shadow: 2px 0 rgba(255,0,0,0.9), -2px 0 rgba(0,0,255,0.9);  }
  25%  {  transform: translate(1px, 2px); text-shadow: 2px 0 rgba(255,0,0,0.9), -2px 0 rgba(0,0,255,0.9);  }
  30%  {  transform: translate(1px, 2px); text-shadow: 3px 0 rgba(255,0,0,0.9), -3px 0 rgba(0,0,255,0.9);  }
  35%  {  transform: translate(1px, 2px); text-shadow: 2px 0 rgba(255,0,0,0.9), -2px 0 rgba(0,0,255,0.9);  }
  40%  {  transform: translate(2px, 1px); text-shadow: 2px 0 rgba(255,0,0,0.9), -2px 0 rgba(0,0,255,0.9);  }
  45%  {  transform: translate(2px, 1px); text-shadow: 3px 0 rgba(255,0,0,0.9), -3px 0 rgba(0,0,255,0.9);  }
  50%  {  transform: translate(2px, 1px); text-shadow: 3px 0 rgba(255,0,0,0.9), -3px 0 rgba(0,0,255,0.9);  }
  55%  {  transform: translate(2px, 1px); text-shadow: 4px 0 rgba(255,0,0,0.9), -4px 0 rgba(0,0,255,0.9);  }
  60%  {  transform: translate(1px, 1px); text-shadow: 2px 0 rgba(255,0,0,0.9), -2px 0 rgba(0,0,255,0.9);  }
  65%  {  transform: translate(1px, 1px); text-shadow: 5px 0 rgba(255,0,0,0.9), -5px 0 rgba(0,0,255,0.9);  }
  70%  {  transform: translate(1px, 1px); text-shadow: 3px 0 rgba(255,0,0,0.9), -3px 0 rgba(0,0,255,0.9);  }
  75%  {  transform: translate(1px, 1px); text-shadow: 2px 0 rgba(255,0,0,0.9), -2px 0 rgba(0,0,255,0.9);  }
  80%  {  transform: translate(2px, 1px); text-shadow: 5px 0 rgba(255,0,0,0.9), -5px 0 rgba(0,0,255,0.9);  }
  85%  {  transform: translate(2px, 1px); text-shadow: 3px 0 rgba(255,0,0,0.9), -3px 0 rgba(0,0,255,0.9);  }
  90%  {  transform: translate(2px, 2px); text-shadow: 5px 0 rgba(255,0,0,0.9), -5px 0 rgba(0,0,255,0.9);  }
  95%  {  transform: translate(2px, 2px); text-shadow: 2px 0 rgba(255,0,0,0.9), -2px 0 rgba(0,0,255,0.9);  }
  100% {  transform: translate(1px, 2px); text-shadow: 3px 0 rgba(255,0,0,0.9), -3px 0 rgba(0,0,255,0.9);  }
}

#screen:after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.2) 33.3%, rgba(255, 255, 255, 0.4) 33.3%, rgba(255, 255, 255, 0.4) 66.7%, rgba(255, 255, 255, 0.6) 66.7%), -webkit-linear-gradient(left, rgba(255, 0, 0, 0.7) 33.3%, rgba(0, 255, 0, 0.7) 33.3%, rgba(0, 255, 0, 0.6) 66.7%, rgba(0, 0, 255, 0.6) 66.7%);
  background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0.2) 33.3%, rgba(255, 255, 255, 0.4) 33.3%, rgba(255, 255, 255, 0.4) 66.7%, rgba(255, 255, 255, 0.6) 66.7%), -webkit-linear-gradient(left, rgba(255, 0, 0, 0.7) 33.3%, rgba(0, 255, 0, 0.7) 33.3%, rgba(0, 255, 0, 0.6) 66.7%, rgba(0, 0, 255, 0.6) 66.7%);
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.2) 33.3%, rgba(255, 255, 255, 0.4) 33.3%, rgba(255, 255, 255, 0.4) 66.7%, rgba(255, 255, 255, 0.6) 66.7%), linear-gradient(to right, rgba(255, 0, 0, 0.7) 33.3%, rgba(0, 255, 0, 0.7) 33.3%, rgba(0, 255, 0, 0.6) 66.7%, rgba(0, 0, 255, 0.6) 66.7%);
  background-size: 3px 3px;
  mix-blend-mode: multiply;
  background-color: rgb(0, 0, 0);
}
#screen {
  height: calc(100vh - 0px);
  width: calc(100vw - 0px);
  background: #0a0a0a;
  color: #fff;
  text-shadow: 2px 0 rgba(255, 0, 0, 0.9), -2px 0 rgba(0, 0, 255, 0.9);

}
.on #screen {
  background-color: #222;
}
#content-holder {
  padding: 0;
  height: calc(100vh - 0px);
  width: calc(100vw - 0px);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  overflow: hidden;
}
#content {
  height: calc(100vh - 0px);
  width: calc(100vw - 0px);
  background-color: #b0b0b0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  overflow: hidden;
 
  position: relative;
}
.on #content {
  animation: screen-turn-on .4s linear .5s 1 forwards;
}
#power {
  bottom: 12px;
  width: 35px;
  height: 5px;
  position: absolute;
  right: 45px;
  background-color: #282828;
  cursor: pointer;
}
.on #power {
  background-color: #0035ff;
  box-shadow: 0px 0px 20px 2px #0035ff;
}
#channel {
  position: absolute;
 
  
  vertical-align: middle;
  animation: shiver 1s linear .5s infinite;
}
#text {
  color: #ededed;
  text-align: left;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 20vw;
  animation: shiver 1s linear .5s infinite;
}