/*
|*************************************************************************;
* ScriptName    : Draggable UI
* ScriptPath    : css/lib-css/draggableUI.css
|*************************************************************************;
*/

#containment-wrapper {
    width: 100%;
    height: 100%;
}


/*
|*************************************************************************;
* Window Default Properties 
|*************************************************************************;
*/


/* Default Box Size */

.win-prop {
    position: absolute;
    /*StartBoxPos*/
    left: 20rem;
    top: 10rem;
    /*BoxSize*/
    -webkit-animation: scale-in-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.windowed {
    display: none;
}

@-webkit-keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

.win-prop .row {
    margin-right: 0px;
    margin-left: 0px;
    height: -webkit-fill-available;
}

.win-prop-scroll {
    overflow-x: hidden;
    height: -webkit-fill-available;
}

.win-prop-scroll::-webkit-scrollbar {
    width: 7px;
}

.win-prop-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.425);
}

.win-prop-scroll::-webkit-scrollbar-track {
    background-color: transparent;
}

#draggable-JS-terminal>div.row>div.col-8,
#draggable-JS-terminal>div.row>div.col-4 {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

#draggable-JS-terminal>div.row>div.col-8 {
    overflow: auto;
    height: 100%;
}

#draggable-JS-terminal>div.row>div.col-4 {
    height: 100%;
    overflow: scroll;
}

#debugDiv p {
    background-color: #193040;
    padding: 0px;
}

#draggable-JS-terminal>div.row {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
    height: 93.7%;
}

.maxOn {
    left: 0px!important;
    top: 0px!important;
    width: 100%!important;
    height: 100%!important;
    max-width: 100%!important;
    max-height: 100%!important;
    transform: translate(0)!important;
}

.maxOff {
    left: 20rem;
    top: 10rem;
}


/* Box Size */

.box-sm {
    width: 420px;
    height: 400px;
}

.box-lg {
    width:800px;
    height: 400px;
}


/* Box Size */

.box-sm-resize {
    width: 400px;
    height: 400px;
    min-width: 400px;
    min-height: 400px;
    max-width: 840px;
    max-height: 800px;
    resize: both;
}

.box-lg-resize {
    width: 800px;
    height: 400px;
    min-width: 800px;
    min-height: 400px;
    max-width: 800px;
    max-height: 800px;
    resize: both;
    overflow: auto;
}

.box-lg-resize-term {
    width: 800px;
    height: 400px;
    overflow: hidden;
}


/* Win -AppHeader */

.win-prop .header {
    cursor: var(--main-cursor-grab);
    display: flex;
    font-weight: 100;
    color: #fff;
}


/* Win -Cursor = Grabbing on Active */

.win-prop .header:active,
.win-prop .header .sub-menu-title .icon:active {
    cursor: var(--main-cursor-grabbing);
}


/* Win -AppHeader SubTitle */

.win-prop .header .sub-menu-title {
    flex: 1;
    width: 100%;
    height: 100%;
    padding: 6px;
    padding-left: 15px;
    display: flex;
}


/* Win -AppHeader SubIcon */

.win-prop .header .sub-menu-title .icon {
    position: relative;
    display: inline-block;
    padding-right: 15px;
}


/* Win -AppHeader SubText */

.win-prop .header .sub-menu-title .text {
    position: relative;
    padding: 0px 15px;
    line-height: 25px;
}
.nav-menu-title {
    padding-left: 10px;
    padding: 5px;
}
.nav-menu-drop {
    width: max-content;
    left: 10px!important;
    margin-bottom: 15px!important;
}

/* Win -AppHeader BTN */

.win-prop .header .buttons {
    display: flex;
}

.win-prop .header .buttons .btn {
    flex: 1;
    color: #fff;
    text-align: center;
    padding: 1px;
    margin: 5px;
    text-shadow: none;
}


/* Win -AppHeader BTN:Hover */

.win-prop .header .buttons .btn:hover {
    cursor: var(--main-cursor-pointer);
    color: #000;
}


/* Win -AppHeader BTN Icon */

.win-prop .header .buttons .btn i {
    position: relative;
    display: inline-block;
}


/*
|*************************************************************************;
* Desktop Icons Default Properties 
|*************************************************************************;
*/


/* Default Icon Settings */

.desk-prop {
    animation-delay: 5s;
    position: absolute;
    width: 100px;
    height: 100px;
    float: right;
    margin: 0px 0px 0px 0px;
    pointer-events: painted;
    border: 2px solid #000;
    outline: 2px solid blue;
    outline-offset: -10px;
}


/* Default SubFolder Size - Container*/

.sub-folder {
    height: 92%;
    padding: 10px;
}



/* Icon Image Properties*/

.card {
    background-color: transparent;
    text-align: center;
}


.card-text {
    font-size: 13px;
}

.icon-img {
    width: 1.5em;
}


/* Icon Card on Grab*/

.card:active {
    cursor: var(--main-cursor-grabbing);
}


/* Icon Card Inner Properties*/

.card-body {
    padding: 0rem;
}

.card-img,
.card-img-top {
    width: 4em;
    height: 4em;
}

/* Application Terminal*/

.terminal-right {
}



.taskbtn {
    background-color: transparent;
    padding: 2px;
}

.taskbtn:hover {
    background-color: rgba(255, 255, 255, 0.118);
}

#taskbar-nav .container-fluid .btn-group {
    padding-right: 5px;
    padding-left: 5px;
}


/* Context Menu */
.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
}



