/*
|*************************************************************************;
* ScriptName    : Draggable UI
* ScriptPath    : css/lib-css/draggableUI.css
|*************************************************************************;
*/

#containment-wrapper {
    width: 100%;
    height: 100%;
}


/*
|*************************************************************************;
* Window Default Properties 
|*************************************************************************;
*/


/* Default Box Size */

.win-prop {
    box-shadow: var(--box-boxshadow);
    -moz-box-shadow: var(--moz-boxshadow);
    /*-webkit-box-shadow: var(--webkit-boxshadow);*/
    position: absolute;
    /*StartBoxPos*/
    left: 20rem;
    top: 10rem;
    /*BoxSize*/
    border-top: 2px rgb(126, 126, 126) groove;
    border-left: 2px rgb(126, 126, 126) groove;
    border-bottom: 3.5px rgb(126, 126, 126) ridge;
    border-right: 2px rgb(126, 126, 126) ridge;
    border-radius: 2px;
    /*
  box-shadow: 0px 3px #3d3d3d, 0px -3px #3d3d3d, 3px 0px #3d3d3d, -3px 0px #3d3d3d, 0px -6px #181818, 0px 6px #181818, 6px 0px #181818, -6px 0px #181818, 9px 0px rgb(0 0 0 / 10%), 0px 9px rgb(0 0 0 / 10%);
*/
    -webkit-animation: scale-in-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    /*
  background: radial-gradient(
    circle,
    rgba(103, 103, 103, 0.5018382352941176) 0%,
    rgba(0, 0, 0, 0.5018382352941176) 100%
  ); */
}

.btnClose {
    background-color: red;
    width: 13px;
    height: 13px;
    border-radius: 2px;
}

.btnClose:hover {
    background-color: #0059d2;
}

@-webkit-keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

.win-prop .row {
    margin-right: 0px;
    margin-left: 0px;
    height: -webkit-fill-available;
}

.win-prop-scroll {
    overflow-x: hidden;
    height: -webkit-fill-available;
}

.win-prop-scroll::-webkit-scrollbar {
    width: 7px;
}

.win-prop-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(247, 107, 28, 0.425);
}

.win-prop-scroll::-webkit-scrollbar-track {
    background-color: transparent;
}

#draggable-JS-01>div.row>div.col-8,
#draggable-JS-01>div.row>div.col-4 {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

#draggable-JS-01>div.row>div.col-8 {
    overflow: auto;
    height: 100%;
}

#draggable-JS-01>div.row>div.col-4 {
    height: 200%;
}

#draggable-JS-01>div.row {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
    height: 93.7%;
}

.maxOn {
    left: 0px!important;
    top: 0px!important;
    width: 100%!important;
    height: 100%!important;
    max-width: 100%!important;
    max-height: 100%!important;
    transform: translate(0)!important;
}

.maxOff {
    left: 20rem;
    top: 10rem;
}


/* Box Size */

.box-sm {
    width: 420px;
    height: 400px;
}

.box-lg {
    width: 840px;
    height: 400px;
}

.box-lg-miro {
    width: 840px;
    height: 800px;
}


/* Box Size */

.box-sm-resize {
    width: 420px;
    height: 400px;
    min-width: 420px;
    min-height: 400px;
    max-width: 840px;
    max-height: 800px;
    resize: both;
    /* overflow: auto; */
}

.box-lg-resize {
    width: 840px;
    height: 400px;
    min-width: 840px;
    min-height: 400px;
    max-width: 840px;
    max-height: 800px;
    resize: both;
    overflow: auto;
}

#draggable-JS-REPOS {
    overflow: hidden!important;
}

.box-lg-resize-term {
    width: 840px;
    height: 400px;
    /*resize: both;*/
    overflow: hidden;
}


/* Media Player */

.win-prop-circle {
    -webkit-animation: scale-in-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    box-shadow: var(--box-boxshadow);
    -moz-box-shadow: var(--moz-boxshadow);
    -webkit-box-shadow: var(--webkit-boxshadow);
    position: absolute;
    /*StartBoxPos*/
    left: 20rem;
    top: 10rem;
    /*BoxSize*/
    width: 420px;
    height: 400px;
    border-radius: 100%;
}


/* Win -AppHeader */

.win-prop .header {
    cursor: var(--main-cursor-grab);
    font-family: var(--main-font);
    display: flex;
    font-weight: 100;
    color: #fff;
    background-color: var(--main-box-color);
    -webkit-box-shadow: var(--webkit-boxshadow);
    -moz-box-shadow: var(--moz-boxshadow);
    box-shadow: var(--box-boxshadow);
    background-image: var(--svg-ui-background);
}


/* Win -Cursor = Grabbing on Active */

.win-prop .header:active,
.win-prop .header .sub-menu-title .icon:active {
    cursor: var(--main-cursor-grabbing);
}


/* Win -AppHeader SubTitle */

.win-prop .header .sub-menu-title {
    flex: 1;
    width: 100%;
    height: 100%;
    padding: 6px;
    padding-left: 15px;
    display: flex;
}


/* Win -AppHeader SubIcon */

.win-prop .header .sub-menu-title .icon {
    position: relative;
    display: inline-block;
    padding-right: 15px;
}


/* Win -AppHeader SubText */

.win-prop .header .sub-menu-title .text {
    position: relative;
    padding: 0px 15px;
    line-height: 25px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
}


/* Win -AppHeader BTN */

.win-prop .header .buttons {
    display: flex;
}

.win-prop .header .buttons .btn {
    flex: 1;
    color: #fff;
    text-align: center;
    border: solid #0000;
    padding: 1px;
    margin: 5px;
    border-radius: var(--border-radius-none);
    text-shadow: none;
}


/* Win -AppHeader BTN:Hover */

.win-prop .header .buttons .btn:hover {
    cursor: var(--main-cursor-pointer);
    color: #000;
}


/* Win -AppHeader BTN Icon */

.win-prop .header .buttons .btn i {
    position: relative;
    display: inline-block;
}


/*
|*************************************************************************;
* Desktop Icons Default Properties 
|*************************************************************************;
*/


/* Default Icon Settings */

.desk-prop {
    animation-delay: 5s;
    position: absolute;
    width: 6em;
    height: auto;
    float: right;
    margin: 0px 0px 0px 0px;
    pointer-events: painted;
}

.desk-prop:hover {
    border: 1px solid rgba(255, 255, 255, 0.58);
}

.desk-prop .card:active {
    border: 1px solid rgba(255, 255, 255, 0.58);
}


/* Default SubFolder Size - Container*/

.sub-folder {
    height: 92%;
    padding: 10px;
    -webkit-box-shadow: var(--webkit-boxshadow-red);
    -moz-box-shadow: var(--moz-boxshadow-red);
    box-shadow: var(--box-boxshadow-red);
}


/* Default Icon Positions - Desktop */

.app-chip {
    left: 1.5rem;
    top: 9rem;
}

.app-discord {
    left: 1.5rem;
    top: 2rem;
}

.app-branches {
    left: 1.5rem;
    top: 16rem;
}

.app-lodestar {
    left: 1.5rem;
    top: 23rem;
}

.app-centralmind {
    left: 1.5rem;
    top: 29rem;
}


/* Default Icon Positions - SubFolders*/

.app-bran-rd {}

.app-bran-tact {}


/* Icon Image Properties*/

.card {
    border: 1px solid rgb(0 0 0 / 30%);
    background-color: transparent;
    text-align: center;
    cursor: var(--main-cursor-default);
}

.card:hover {
    border-radius: 5px!important;
}

.card-text {
    text-shadow: var(--main-text-shadow);
    font-size: 13px;
}

.icon-img {
    width: 1.5em;
}


/* Icon Card on Grab*/

.card:active {
    cursor: var(--main-cursor-grabbing);
}


/* Icon Card Inner Properties*/

.card-body {
    padding: 0rem;
}

.card-img,
.card-img-top {
    width: 4em;
    height: 4em;
}


/* Application Lodestar */

.lode-card {
    cursor: var(--main-cursor-default);
    /* background: linear-gradient(180deg, rgba(22,22,22,1) 0%, rgba(60,119,216,0.6867121848739496) 100%);*/
    background-image: url("../../img/images/applications/app-lodestar/lodeback.png");
    background-size: cover;
    border: solid 1px #0f0f0f;
    height: 100%;
}

#draggable-JS-lodestar>div.form.sub-folder>div {
    border: 0px solid rgba(255, 255, 255, 0.58);
}

.lode-body {
    padding-top: 2em;
}

.lode-title-sub {
    color: #3c77d8;
    margin-top: -19px;
}

.lode-card-banner {
    width: 22em;
}

.lode-bflip {
    will-change: transform;
    transform: rotate(180deg);
}

.lode-card-text {
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.btn-group-lode {
    text-shadow: var(--main-text-shadow);
    top: 2em;
}

.btn-lode {
    color: #fff !important;
    cursor: var(--main-cursor-pointer);
}

.btn-outline-lode {
    border-color: #3c77d8;
}

.btn-outline-lode:hover {
    background-color: #3c77d8;
}


/* Application Diplomacy*/

.diplo-card {
    background-image: url("../../img/images/applications/app-branches/bg-dp.png");
    background-size: cover;
    border: solid 1px #0f0f0f;
    height: 25.7em;
}

.dipl-quote strong {
    font-style: normal;
    color: #6464ff;
}


/* Application Diplomacy*/

.tact-card {
    background-image: url("../../img/images/applications/app-branches/bg-tc.png");
    background-size: cover;
    border: solid 1px #0f0f0f;
    height: 25.7em;
}

.tact-quote strong {
    font-style: normal;
    color: #f1c40f;
}


/* Application Science*/

.scie-card {
    background-image: url("../../img/images/applications/app-branches/bg-rd.png");
    background-size: cover;
    border: solid 1px #0f0f0f;
    height: 25.7em;
}

.scie-quote strong {
    font-style: normal;
    color: rgba(0, 0, 0, 0.425);
}


/* Application Logistics*/

.logi-card {
    background-image: url("../../img/images/applications/app-branches/bg-lg.png");
    background-size: cover;
    border: solid 1px #0f0f0f;
    height: 25.7em;
}

.logi-quote strong {
    font-style: normal;
    color: rgba(0, 0, 0, 0.425);
}


/* Application Terminal*/

.terminal-right {
    background-color: #223f52;
    background-image: var(--svg-ui-background);
}

.app-li {
    list-style-position: inside;
    list-style: none;
    margin-left: -44px;
}

.branch-title-sub {
    color: rgba(0, 0, 0, 0.425);
    margin-top: -19px;
}

.branch-card-text {
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.card-quote {
    font-style: italic;
    color: #ffffff;
}

.isan-form {
    height: 90.5%;
    background-color: #2F3136;
}

.col-auto {
    padding: 0px;
}

.isan-img {
    transition: 0.2s;
    position: absolute;
    bottom: 1em;
    width: 60%;
    height: 45%;
    left: 12em;
    border-radius: 0px;
    border: #007afd 4px solid;
}

.isan-img2 {
    transition: 0.2s;
    position: absolute;
    bottom: 3em;
    width: 30%;
    height: 30%;
    left: 1em;
    border-radius: 20px;
}

#draggable-JS-ISAN kbd {
    color: #007afd!important;
    text-align: center;
}

#draggable-JS-COLLECTIVE kbd {
    color: #d80000!important;
    text-align: center;
}


/*
#draggable-JS-ISAN:hover .isan-img, #draggable-JS-COLLECTIVE:hover .isan-img {
    bottom: -2em;
    width: 75%;
    height: 50%;
    left: 10em;
    border-radius: 20px;
    
    transform: rotate(-3deg);
    -webkit-box-shadow: var(--webkit-boxshadow);
    -moz-box-shadow: var(--moz-boxshadow);
    box-shadow: var(--box-boxshadow);
}


#draggable-JS-ISAN:hover .isan-img2, #draggable-JS-COLLECTIVE:hover .isan-img2 {
    position: absolute;
    bottom: 2em;
    width: 30%;
    height: 30%;
    left: 0em;
    border-radius: 20px;
    transform: rotate( 4deg);
}
*/

#draggable-JS-COLLECTIVE .isan-img {
    border: #d80000 4px solid;
    border-radius: 5px;
}

#draggable-JS-ISAN .isan-img {
    border: #007afd 4px solid;
    border-radius: 5px;
}